head
    title= title
    script(data-main="./js/main" src="./js/r.js")
    //script(src="./codemirror/lib/codemirror.js")
    //link(rel="stylesheet", type="text/css", href="./codemirror/lib/codemirror.css")
    //script(src="./codemirror/mode/php/php.js")
    //script(src="./codemirror/mode/xml/xml.js")
    //script(src="./codemirror/mode/javascript/javascript.js")
    //script(src="./codemirror/mode/css/css.js")
    //script(src="./codemirror/mode/htmlmixed/htmlmixed.js")
    //script(src="./codemirror/mode/clike/clike.js")
    link(rel="stylesheet", type="text/css", href="./css/style.css")
