doctype html
html
    include includes/head.pug

    body
        include includes/code_editor.pug

        include includes/code_result.pug

        include includes/footer.pug
    
    //script(src="./js/edit_code.js")

    script.
       //requirejs(["edit_code"], function(edit_code))
