doctype html
html
    include includes/head.pug

    body
        include includes/code_editor.pug

        include includes/code_result.pug

        include includes/footer.pug
    
    script(src="./js/edit_code.js")

    script.
       // var cm = CodeMirror(document.body, {
       //     value: "return 100",
       //     mode: "javascript"
       // });
        
       // var codeMirror = CodeMirror.fromTextArea(textareaElem);
