#code-result-container {
    width: 50%;
    height: 200px;
    margin: 20px auto;
    border: 1px solid black;
}

.error {
    border: 5px solid red;
}

/*
#edit-code {
    width: 50%;
    height: 200px;
    margin: 20px auto 60px;
    display: block; 
}
*/

.CodeMirror {
    /*background-color: aqua;*/
    border-width: 1px;
    border-style: dotted;
}

#lang-menu {
    float: right;
    margin: 0 0 0 10px;
    padding: 0;
    width: 150px;    
    display: block;
    list-style-type: none;
    border: 1px solid black;
}

.remove-display {
    display: none;
}

.enable-display {
    display: block;
}
