#code-result-container {
    width: 50%;
    height: 200px;
    margin: 20px auto;
    border: 1px solid black;
}

#edit-code {
    width: 50%;
    height: 200px;
    margin: 20px auto 60px;
    display: block; 
}

.CodeMirror {
    /*background-color: aqua;*/
    border-width: 1px;
    border-style: dotted;
}

ul {
    float: right;
    width: 150px;    
    display: block;
    list-style-type: none;
}
